PREBUILT_ROOTFS_IMG="prebuilt_rootfs/rk356x_ubuntu_rootfs.img"
RK_WIFIBT_TTY="ttyS8"
RK_KERNEL_CFG="firefly_linux_defconfig"
RK_KERNEL_VERSION="5.10"
RK_KERNEL_DTS_NAME="rk3568-firefly-itx-3568q"
RK_RAMDISK_IMG="ramdisk.img"
RK_BOOT_FIT_ITS="bootramdisk.its"
RK_RECOVERY_RAMDISK="rk356x-recovery-arm64.cpio.gz"
RK_EXTRA_PARTITION_NUM=0
RK_PARAMETER="parameter-ubuntu-fit.txt"
RK_USE_FIT_IMG=y
