RK_YOCTO_CFG="rockchip-rk3568-evb"
RK_KERNEL_DTS_NAME="rk3568-firefly-aioj-cam_2ms2mf"
RK_KERNEL_CFG="firefly_linux_defconfig"
#RK_UBOOT_CFG="rk3568"
RK_USE_FIT_IMG=y
RK_WIFIBT_TTY="ttyS8"
RK_PARAMETER="parameter-buildroot-fit.txt"
